// Dashboard

div(class="container")
	div(class="page-header")
		h1="Dashboard"
	div(class="row")
		each val in dbObject
			div(class="col-xs-12 col-md-4")
				div(class="panel panel-default")
					div(class="panel-body")
						h1(class="pull-left")=val.display
						h1(class="pull-right")=val.num